  {% extends 'base.html' %}
  {% block content %}
  <head>
    <title>{{job.title}} - KayVeeZ Careers</title>
  </head>
  <body>
    
    {% include 'banner.html' %}
    {% include 'company_name.html' %}
    <h3 class='mt-2 mb-2'><font style="font-family: Broadway;-webkit-text-stroke: 1px darkorange;">{{job.title}}</font></h3>
    <p class="lead mt-0">{{job.location}}</p>
    <h3><font style="font-family: Broadway;-webkit-text-stroke: 1px darkorange;">Salary</font></h3>
    <p class="lead mt-0">{{job.currency}}{{job.salary}}</p>
    <h3><font style="font-family: Broadway;-webkit-text-stroke: 1px darkorange;">Responsibilities</font></h3>
    <ul class="lead mt-0">
      {% for line in job.responsibilities.split('\n') %}
      <li>{{line}}</li>
      {% endfor %}
    </ul>
    <h3><font style="font-family: Broadway;-webkit-text-stroke: 1px darkorange;">Requirements</font></h3>
    <ol class="lead mt-0">
      {% for line in job.requirements.split('\n') %}
      <li>{{line}}</li>
      {% endfor %}
    </ol>
    {% endblock %}
  </body>
</html>