<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark fixed-top mt-5 mb-0 d-none d-md-block col-md-2 " style="height: 105%;"  bis_skin_checked="1">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <style>
        #sidelogo
        {
          border-radius: 5px;
          color: white;
          background-color: #ce350f;
          outline-color: white; 
          outline-style: solid;
          outline-width: 0.5px;
          font-family: Broadway;
          -webkit-text-stroke: 1px black;
        }
      </style>
      <h4 class='text-center mt-4 mb-0' id="sidelogo"><font style="width: 100%;margin: 0 0 0 0;">KayVeeZ</h4><h4 class='mt-4 mb-0'>Navigator</font></h4>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Home
        </a>
      </li>
      <li>
        <a href="/about" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          Dashboard
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          Orders
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
          Products
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          Customers
        </a>
      </li>
    </ul>
    
  </div>

  


    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>