h1, h2 {
  text-align: center;
}
h1{
  font-family: Calibri;
  font-weight: normal;
  color: rgb(255,100,100);
  margin: 0 auto 0 auto;
  background-color: gray;
  width: 80%;
}
h2{
  font-family: Calibri;
  font-weight: normal;
  color: rgb(255,100,100);
}
#text1{

}


#container{
  max-width: 720px;
  margin: 0 auto;
}

#banner{
  width: 80%;
  height: 200px;
  object-fit: cover;
  margin: 0 10% 0 10%;
}